<!DOCTYPE html>
<html>
  <head>
	<title>Prototype Quotation Form</title>
	<!-- Bootstrap -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css">


  <link href="assets/css/style.css" rel="stylesheet" media="screen">
  </head>
  <body class="container">

     <div class="row">
       <p class="col-md-12">
         Use <a href="assets/sample.pdf"  target="_blank">this</a> link to view the PDF.
       </p>
     </div>


     <div id="company-meta" class="row">

       <h3>Header Information:&nbsp;<button name="headerInfo" id="headerInfo">Show Data</button> </h3>

       <form class="col-sm-12">

        <div class="form-group row" v-for="item in items" v-if="!item.hidden">
          <label class="col-sm-2 col-form-label">{{item.name}}</label>
          <div class="col-sm-4">
            <input type="text" readonly class="form-control-plaintext" v-model="json[item.id]" v-if="!item.editable">
            <input type="text" class="form-control form-control-plaintext" v-model="json[item.id]" v-else>
          </div>
        </div>

      </form>
    </div>

    <div id="initial-costs" class="row">

      <h3>Initial Cost Details:&nbsp;<button name="installInfo" id="installInfo">Show Data</button> </h3>


      <ul class="col-sm-12 bold no-margin">
        <li class="row quotation-table-header">
          <div class="col-sm-1">#</div>
          <div class="col-sm-4">Description</div>
          <div class="col-sm-1">Qty</div>
          <div class="col-sm-1">Unit</div>
          <div class="col-sm-1">Price</div>
          <div class="col-sm-1">Amount</div>
          <div class="col-sm-3">Note</div>
        </li>
      </ul>
      <draggable :list="json" class="dragArea col-sm-12" @change="onUpdate">
        <li v-for="item in json" class="row quotation-table" v-bind:class="{ stripped: item.item % 2 == 0 }">
          <div class="col-sm-1">
            {{ item.item }}
          </div>
          <div class="col-sm-4">
            {{ item.desc }}
          </div>
          <div class="col-sm-1">
            {{ item.qty }}
          </div>
          <div class="col-sm-1">
            {{ item.unit }}
          </div>
          <div class="col-sm-1">
            {{ item.price }}
          </div>
          <div class="col-sm-1">
            {{ item.amount }}
          </div>
          <div class="col-sm-2">
            {{ item.comment }}
          </div>
          <div class="col-sm-1">
            <span class="oi oi-trash"></span>
          </div>
        </li>
      </draggable>

      <div>
          <div>
            Initial costs: {{initial}}
          </div>
      </div>
    </div>



	   <div class="container">

		<h3>Monthly Cost Details:&nbsp;<button name="monthlyInfo" id="monthlyInfo">Show Data</button></h3>
		<div id="monthly">
		</div>
		<div class='row'>
			<div>
			Initial Cost:&nbsp;
			</div>
			<div id='monthly_cost2'>
			0
			</div>
		</div>

		<h3>Notes:&nbsp;<button name="notesInfo" id="notesInfo">Show Data</button></h3>
		<div id="notes">
		</div>

	</div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  -->


  <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
  <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>

	<script src="assets/js/script.js"></script>


  </body>
</html>
