.no-margin,
.form-group {
    margin-bottom: 0rem;
}

.col-form-label,
.form-control-plaintext {
  padding-top: 0px;
  padding-bottom: 0px;
}


.bold {
  font-weight: bold;
}


.max-10px{
   max-width: 10px;
}

.quotation-table div{
  border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.quotation-table-header div{
  border-bottom: 2px solid;
}

.stripped{
  background-color: #eee;
}
